@keyframes slideLeft {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100%, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideDown {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 100%);
  }
}

@keyframes slideRight {
  from {
    transform: translate(0, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}
